label {
  position: relative;
  cursor: pointer;
}

.search-input {
  width: 550px;
  height: 20px;
  border: 2px #f47b6000 solid;
  outline: none;
  padding: 16px;
  border-radius: 8px;
  font-size: 1em;
  transition: 0.5s;
  color: #2b2b2b;
  background-color: #447d8f;
  padding-left: 15px;
  caret-color: #f47a60;
}

.search-icon {
  position: absolute;
  left: 525px;
  top: 10px;
  bottom: 0px;
  color: #1b5263;
}

.search-input::placeholder {
  color: #1b5263;
}

.search-input:hover {
  cursor: pointer;
}

.search-input:focus {
  background-color: #ffffff;
  transition: 0.3s;
}
.search-input:focus ~ .search-icon {
  color: #1b5263;
  transition: 0.5s;
}
.search-input:focus ~ .search-input::placeholder {
  color: #1b5263;
  transition: 0.5s;
}

/* Small Devices, Tablets equivalent to class sm */
@media only screen and (max-width: 768px) {
  .search-input {
    width: 300px;
    margin-bottom: 15px;
  }

  .search-icon {
    left: 275px;
    top: 10px;
  }
}

/* Medium Devices, Desktops equivalent to class md */
@media only screen and (min-width: 1440px) {
  .search-input {
    width: 700px;
  }

  .search-icon {
    left: 675px;
    top: 10px;
  }
}
