/* primary button */
.btn-primary,
.btn-primary:focus {
  color: white;
  background-color: #f47a60;
  border: #f47a60;
}

.btn-primary:hover,
.btn-primary:active {
  color: white;
  background-color: #f16748;
}

/* outline-primary button */
.btn-outline-primary {
  font-weight: 300;
  color: #f16748;
  border: 1px #f16748 solid;
  /* background-color: rgb(1, 52, 1); */
}

.btn-outline-primary:hover {
  color: white;
  border: 1px #f16748 solid;
  background-color: #f16748;
}

/* success button */
.btn-success,
.btn-success:focus {
  color: white;
  background-color: #246b80;
  border: #246b80;
}

.btn-success:hover,
.btn-success:active {
  color: white;
  background-color: #1b5263;
}

/* outline-success button */
.btn-outline-success {
  color: #1b5263;
  border: 1px #1b5263 solid;
  /* background-color: rgb(1, 52, 1); */
}

.btn-outline-success:hover {
  color: white;
  border: 1px #1b5263 solid;
  background-color: #1b5263;
}

/* outline-info button */
.btn-outline-info {
  color: white;
  border: 1px white solid;
  /* background-color: rgb(1, 52, 1); */
}

.btn-outline-info:hover {
  color: white;
  border: 1px #f47a60 solid;
  background-color: #f47a60;
}

.btn-outline-success,
.btn-outline-success :focus {
  color: black;
  border-color: black;
}

.btn-outline-success:hover,
.btn-outline-success:active {
  color: white;
  background-color: #246b80;
  border-color: #246b80;
}

.navbar-brand {
  color: #f47a60 !important;
  font-weight: 700;
  font-size: 30px;
}

.dropdown-menu :hover {
  color: white;
  background-color: #f47a60;
}

.submenu {
  background-color: white !important;
}
.submenu .active {
  color: white;
  background-color: #f47a60;
}
.submenu :hover {
  color: white;
  background-color: #f47a60 !important;
}

.alert-info {
  background-color: #ced7d8;
  border: 1px #bec8c9 solid;
  color: #82898a;
}

.block {
  display: block;
  color: white;
  background-color: #246b80;
  border-color: #246b80;
  margin-bottom: 25px;
  text-align: center;
  border-radius: 10px;
}

.hollow {
  display: block;
  color: #246b80;
  background-color: white;
  border-color: #246b80;
  margin-bottom: 25px;
  text-align: center;
  border-radius: 10px;
}

.success-outline,
.success-outline :focus {
  color: black;
  border-color: black;
}
