/* primary button */
.btn-primary,
.btn-primary:focus {
  color: white;
  background-color: #f47a60;
  border: #f47a60;
}

.btn-primary:hover,
.btn-primary:active {
  color: white;
  background-color: #f16748;
}

/* outline-primary button */
.btn-outline-primary {
  font-weight: 300;
  color: #fff;
  border: 1px #fff solid;
  /* background-color: rgb(1, 52, 1); */
}

.btn-outline-primary:hover {
  color: white;
  border: 1px #f16748 solid;
  background-color: #f16748;
}

.btn-success,
.btn-success:focus {
  color: white;
  background-color: #246b80;
  border: #246b80;
}

.btn-success:hover,
.btn-success:active {
  color: white;
  background-color: #1b5263;
}

.navbar-brand {
  color: #f47a60 !important;
  font-weight: 700;
  font-size: 30px;
}

.alert-info {
  background-color: #ced7d8;
  border: 1px #bec8c9 solid;
  color: #82898a;
}
