a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #f47a60;
}

.success-link {
  color: #f06444;
}

.success-link:hover {
  color: #e6411c;
  transition: 0.2;
}

main {
  min-height: 86vh;
}

.color-primary {
  color: #f47a60;
}
.color-primary-dark {
  color: #f46343;
}

.color-secondary {
  color: #1b5263;
}

.font-secondary {
  color: #717171;
}
