.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;

  /* margin-top: 20px; */
}

.conversation:hover {
  background-color: rgb(234, 234, 234);
}

.conversation-image-wrapper {
  display: flex;
  align-items: center;
}

.conversation-image {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  object-fit: cover;
  /* margin-right: 20px; */
}

.conversation-name {
  color: #717171;
  font-size: 12px;
}

.conversation-product-name {
}

.conversation-active {
  background-color: #d2e4f7;
}

@media screen and (max-width: 768px) {
  .conversation-name-product {
    display: none;
  }
}
